.container {
  position: relative;
  margin-bottom: 1rem;
}

.header-text {
  color: white;
  position: absolute;
  left: 1.2rem;
}

.above-text {
  top: 1rem;
  font-size: 1.2rem;
}

.main-text {
  top: 40%;
  transform: translateY(-50%);
  font-size: 1.8rem;
}
